@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  line-height: 250%;
  color: #444;
}

::selection {
  background-color: #747d65;
  color: whitesmoke;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

h1 {
  @apply text-center text-moss text-4xl lg:text-6xl my-20;
}

h2 {
  @apply text-center text-moss text-2xl lg:text-6xl my-10 lg:my-20;
}

p {
  @apply text-charcoal text-xl tracking-wide leading-loose;
}
