@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  line-height: 250%;
  scroll-behavior: smooth;
  color: #444;
  background-color: #f9faf4;
}

::selection {
  background-color: #78825b;
  color: whitesmoke;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.heading {
  /* color: #c76e36; */
  /* color: #a86a5d; */
  /* color: #5b708b; */
  color: #747d65;
  font-family: "DM Sans", serif;
  font-weight: 400;
  letter-spacing: 1px;
}
