@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  line-height: 250%;
  scroll-behavior: smooth;
  color: #444;
}

::selection {
  background-color: #91a062;
  color: whitesmoke;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.heading {
  color: #91a062;
  /* color: #5b708b; */
  font-family: "DM Sans", serif;
  font-weight: 400;
  letter-spacing: 1px;
}
